::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/*-----------------------------------ABOUT PAGE STYLES-----------------------------------*/

#prof-pic {
    height: 200px;
    width: 200px;
    border: 3px solid black;
    border-radius: 50%;
    margin: 20px auto;
}

#prof-block {
    display: block;
}

.link {
  color: #68A4F2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.link:hover{
  color: #297eed;
  text-decoration: none;
}

.description {
    margin: 50px 0;
}

.description > p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    text-align: center;
}

.projects {
    margin: 50px auto;
    text-align: left;
}

.projects p {
    text-align: left;
}

.lighter-gray {
    margin-top: 50px;
    color: #ccc;
}

.lighter-gray a {
    color: #ccc;
    text-decoration: underline;
    margin-top: 50px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.lighter-gray a:hover {
  color: #aaa;
}

.heading > h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.heading > h3 {
    font-size: 30px;
    font-weight: 200;
    margin-top: 10px;
}

.main-content {}

.link-set {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 50px;
}

.link-set a {
    text-decoration: none;
    padding-bottom: 4px;
    color: black;
    margin: 0 15px;
    opacity: 0.5;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.link-set a:hover {
    cursor: pointer;
    opacity: 1;
}

.link-set .active {
    color: #68A4F2;
    border-bottom: 1px solid;
    opacity: 1;
}
