body {
  overflow-y: hidden;
}

/*-----------------------------------CONTACT PAGE STYLES-----------------------------------*/

#contact-form {
    margin: 2rem 8rem;
    border: 1px solid #f7f7f9;
}

.wrapper {
  height: 100vh;
}

.form-group {
    text-align: left;
}

.form-control {
    margin-bottom: 1em;
}

.submit-button {
  margin-top: 20px;
  padding: 10px 50px;
  border: none;
  font-weight: bold;
}
