/*-----------------------------------CONTACT PAGE STYLES-----------------------------------*/

#contact-form {
    padding: 2rem 8rem;
    border: solid #f7f7f9;
}

.form-group {
    text-align: left;
}

.form-control {
    margin-bottom: 1em;
}

.submit-button {
  padding: 10px 30px;
  border: none;
  font-weight: bold;
}
