.aside {
  align-self: stretch;
  margin: 0 auto;
  color: white;
  background-color: black;

  // &::before {
  //   background-size: cover;
  //   background-image: url(../assets/images/aside.jpg);
  //   background-repeat: no-repeat;
  //   background-position: center top;
  //   filter: blur(5px);
  //   -webkit-filter: blur(5px);
  //   content: '';
  // }

  // Positioning on the side for
  // bigger screens
  @include media('>=medium') {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    left: 0;
    top: 0;
    height: 100%;

    .top {
      flex-grow: 1;
      width: 100%;

      .about
      {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .bottom {
      width: 100%;
      text-align: center;
    }

  //   &::before
  //   {
  //     position: fixed;
  //     left: -5;
  //     top: 0;
  //     height: 100%;
  //
  //     z-index: -1;
  //   }
  }

  // Positioning at the bottom for
  // smaller screens
  @include media('<medium') {
    position: relative;
    text-align: center;
    right: auto;
    top: auto;
    display: block;
    padding: $vertical-padding $horizontal-padding $vertical-padding $horizontal-padding;

    .bottom {
      padding: $vertical-padding $horizontal-padding 0 $horizontal-padding;
    }
  }

  // Setting the width and padding sizes
  @include media('>=large') {
    $aside-width: 30%;
    $vertical-padding: 50px;
    $horizontal-padding: 64px;

    width: $aside-width;
    padding: $vertical-padding $horizontal-padding $vertical-padding $horizontal-padding;

    // &::before {
    //   width: $aside-width;
    //   padding: $vertical-padding $horizontal-padding $vertical-padding $horizontal-padding;
    // }
  }
  @include media('>=medium', '<large') {
    $aside-width: 30%;
    $vertical-padding: 50px;
    $horizontal-padding: 48px;

    width: $aside-width;
    padding: $vertical-padding $horizontal-padding $vertical-padding $horizontal-padding;

    // &::before {
    //   width: $aside-width;
    //   padding: $vertical-padding $horizontal-padding $vertical-padding $horizontal-padding;
    // }
  }
  @include media('>xsmall', '<medium') {
    $aside-width: 100%;
    $vertical-padding: 50px;
    $horizontal-padding: 48px;

    width: $aside-width;
    padding: $vertical-padding $horizontal-padding $vertical-padding $horizontal-padding;

    // &::before {
    //   width: $aside-width;
    //   padding: $vertical-padding $horizontal-padding $vertical-padding $horizontal-padding;
    // }
  }
  @include media('<=xsmall') {
    $aside-width: 100%;
    $vertical-padding: 50px;
    $horizontal-padding: 24px;

    width: $aside-width;
    padding: $vertical-padding $horizontal-padding $vertical-padding $horizontal-padding;

    // &::before {
    //   width: $aside-width;
    //   padding: $vertical-padding $horizontal-padding $vertical-padding $horizontal-padding;
    // }
  }
}


.container {
  margin: 0 auto;
  min-height: 100vh;

  // Setting the width and padding sizes
  @include media('>=large') {
    $container-width: 70%;
    $container-margin-left: 30%;
    $vertical-padding: 50px;
    $horizontal-padding: 10%;

    width: $container-width;
    margin-left: $container-margin-left;
    padding: $vertical-padding $horizontal-padding $vertical-padding $horizontal-padding;
  }
  @include media('>=medium', '<large') {
    $container-width: 70%;
    $container-margin-left: 30%;
    $vertical-padding: 50px;
    $horizontal-padding: 10%;

    width: $container-width;
    margin-left: $container-margin-left;
    padding: $vertical-padding $horizontal-padding $vertical-padding $horizontal-padding;
  }
  @include media('>xsmall', '<medium') {
    $container-width: 100%;
    $container-margin-left: 0;
    $vertical-padding: 50px;
    $horizontal-padding: 48px;

    width: $container-width;
    margin-left: $container-margin-left;
    padding: $vertical-padding $horizontal-padding 0 $horizontal-padding;
  }
  @include media('<=xsmall') {
    $container-width: 100%;
    $container-margin-left: 0;
    $vertical-padding: 50px;
    $horizontal-padding: 15px;

    width: $container-width;
    margin-left: $container-margin-left;
    padding: $vertical-padding $horizontal-padding 0 $horizontal-padding;
  }
}
