@import '../main.scss';

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-title {
    @extend .Heading;
    @extend .Heading--h3;
    font-size: 3.4rem;
    line-height: 1.6;
    text-align: center;

    @include media('<=xsmall') {
      font-size: 2.8rem;
    }

    @include media('>=medium', '<large') {
      font-size: 3rem;
    }
  }

  &-name
  {
    font-weight: $font-weight-bold;
  }

  &-description {
    @extend .Heading;
    @extend .Heading--h4;

    line-height: 1.5;
    letter-spacing: -0.05rem;
    text-align: center;
  }

  &-descriptionLink {
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
}
