@import '../../../assets/scss/main.scss';

$max-width: 230px;
$margin-bottom: 40px;

.about {
  color: $grey-color-light;

  .image {
    width: 180px;
    max-width: $max-width;
    height: 180px;
    background-size: cover;
    background-image: url(../../../assets/images/michael.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: $margin-bottom;

    &:hover {
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
    }
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 200px;

    &-item
    {
      width: 100%;
      text-align: center;
      color: white;
      text-decoration: none;
      padding: 8px 0;
      transition: all 0.8s ease;

      &:not(:last-child)
      {
        border-bottom: 1px solid;
      }

      &:hover
      {
        background-color: white;
        color: black;
      }
    }
  }

  // @include media('>small', '<=medium') {
  //   .bio {
  //     .emoji {
  //       font-size: 2.0rem;
  //       padding-top: 10px;
  //     }
  //   }
  // }
  //
  // @include media('<=small') {
  //   .bio {
  //     line-height: 2.0rem;
  //     font-size: 1.4rem;
  //
  //     .emoji {
  //       font-size: 1.8rem;
  //       padding-top: 10px;
  //     }
  //   }
  // }

  @include media('<=medium') {
    text-align: center;
    margin-bottom: 0px;

    .image {
      margin: 0 auto $margin-bottom auto;
    }

    .bio {
      margin: 0 auto;
    }
  }
}
